
<nav class="navbar">
    <div class="logo">
        <h1>
            <% if(typeof(user) !== 'undefined' && user) {%>
                <a href="/"><%= user.email %></a>
            <% } else { %>
                <a href="/" class="homeTag">Chinpokomon!</a>
            <% } %>
        </h1>
    </div>
    <ul>
        <br>
        <% if(user) {%>
            <a href="/logout"><li class="login">Log out!</li></a>
            <a href="/home/<%= user.email %>" ><li class="login">Account</li></a>
        <% } else { %> 
            <div class="loginBtn">
            <a href="/login"><li class="login">Log in!</li></a>
            <a href="/signup"><li class="signup">sign up!</li></a>
            </div>
        <% } %>
    </ul>
</nav>