form {
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    padding: 2ch 3ch;
    overflow: hidden;
    width: 60ch;
}

form input {
    display: block;
    font-size: 1.2em;
    margin: 0.5em auto;
    width: 80%;
}

form input[type=submit] {
    background-color: var(--secondary-text-color);
    border-radius: 10px;
    color: var(--main-text-color);
    padding: 3px 1em;
    width: fit-content;
}

form a,
form a:visited {
    color: var(--secondary-text-color);
    float: right;
}

form h1 {
    color: var(--secondary-text-color);
}

.errorfield {
    background-color: var(--alarm-bg-color);
    color: var(--alarm-text-color);
    padding: 1ch;
    margin: 0 auto;
    text-align: center;
    width:fit-content;
}